[submodule "lib/seen-gen-js"]
	path = lib/seen-gen-js
	url = https://github.com/abukhadra/seen-gen-js
	branch = main

[submodule "lib/seen-compiler"]
	path = lib/seen-compiler
	url = https://github.com/abukhadra/seen-compiler
	branch = main

