[submodule "seen-compiler"]
	path = seen-compiler
	url = https://github.com/abukhadra/seen-compiler
[submodule "src/seen-compiler"]
	path = src/seen-compiler
	url = https://github.com/abukhadra/seen-compiler
[submodule "src/seen-gen-js"]
	path = src/seen-gen-js
	url = https://github.com/abukhadra/seen-gen-js
